project_name                    = "smart-request-hub"
environment                     = "prod"
aws_region                      = "ap-south-1"
backend_desired_count           = 0
backend_deployment_config_name  = "CodeDeployDefault.ECSCanary10Percent5Minutes"
mongo_uri                       = "mongodb+srv://username:password@cluster.mongodb.net/smart-request-hub"
jwt_secret                      = "replace-with-a-long-random-secret"
github_repository               = "your-github-user/your-repo"
github_branch                   = "main"
github_oidc_provider_arn        = "arn:aws:iam::<account-id>:oidc-provider/token.actions.githubusercontent.com"

